.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'nav'
    'main';
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-areas: 'list map';
}
